.home_content {
    display: flex;
    flex-direction: column;
    gap: 48px;
    width: 100%;
    max-width: 490px;
    .filter_courses {
        display: flex;
        flex-direction: column;
        gap: 32px;
        .list_filter_courses {
            display: flex;
            justify-content: space-between;
            .filter_courses_item {
                display: flex;
                flex-direction: column;
                gap: 16px;
                padding: 10px 10px 20px 10px;
                border-radius: 99px;
                border: 2px solid transparent;
                align-items: center;
                transition: border-color 0.3s ease;
                &.active {
                    border-color: $color_secondary;
                }
                > span {
                    min-width: 60px;
                    text-align: center;
                }
                .filter_courses_illust {
                    border-radius: 99px;
                    transition: background-color 0.3s ease;
                    padding: 14px 14px 10px 14px;
                    &.active {
                        background-color: $color_secondary;
                    }
                }
            }
        }
    }
    .list_course_items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
        .course_item {
            .course_item_illust {
                min-height: 137px;
                background-color: $color_primary;
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;
            }
            .course_item_desc {
                display: flex;
                flex-direction: column;
                gap: 4px;
                border: 1px solid $color_light_EAEAEA;
                border-radius: 32px;
                padding: 24px;
            }
        }
    }
}
