.left_sidebar {
    width: 100%;
    max-width: 304px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    .user_section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px;
        .user_info {
            display: flex;
            flex-direction: column;
            gap: 4px;
        }
    }
    .left_sidebar_menu {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: 32px;
        .menu_item {
            display: flex;
            align-items: center;
            gap: 16px;
            border-radius: 20px;
            background-color: transparent;
            padding: 12px;
            transition: background-color 0.3s ease;
            &:hover {
                background-color: $color_primary;
            }
            &.active {
                background-color: $color_primary;
            }
        }
    }
    .left_sidebar_upgrade {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 32px;
        align-items: center;
        > div {
            gap: 8px;
        }
        .see_deals {
            padding: 16px;
            border-radius: 20px;
            background-color: $color_primary;
            > span {
                width: 144px;
            }
        }
    }
}

.right_sidebar {
    width: 100%;
    max-width: 390px;
}
